{% extends "layout.html" %}
{% block title %}Acerca de{% endblock %}
{% block content %}
<h2>¿Qué es la dependencia hacia la IA?</h2>
<p>La inteligencia artificial ha transformado nuestra forma de vivir, facilitando tareas cotidianas, decisiones y automatización. Sin embargo, su uso excesivo puede generar dependencia y pérdida de habilidades humanas básicas.</p>

<div class="row mt-4">
    <div class="col-md-6">
        <h4>Julio Emmanuel</h4>
        <p>Estudiante del Centro de Bachillerato Tecnologico y de Servicios No.286</p>
        <img src="https://images.unsplash.com/photo-1555617117-08fdaecf3f7d" class="img-fluid rounded">
    </div>
    <div class="col-md-6">
        <h4>Diana Michelle</h4>
        <p>Estudiante del Centro de Bachillerato Tecnologico y de Servicios No.286</p>
        <img src="https://images.unsplash.com/photo-1581090700227-1e8e8d5f6d07" class="img-fluid rounded">
    </div>
</div>
{% endblock %}
