{% extends "layout.html" %}
{% block title %}Administrar Estudiantes{% endblock %}
{% block content %}
<h2>Agregar estudiante</h2>
<form method="POST" class="row g-3">
    <div class="col-md-4">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Edad</label>
        <input type="number" name="edad" class="form-control">
    </div>
    <div class="col-md-4">
        <label class="form-label">Carrera</label>
        <input type="text" name="carrera" class="form-control">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
</form>

<h3 class="mt-5">Lista de estudiantes</h3>
<ul class="list-group">
    {% for est in estudiantes %}
        <li class="list-group-item">{{ est.nombre }} - {{ est.edad }} años - {{ est.carrera }}</li>
    {% endfor %}
</ul>
{% endblock %}
